body{
font-family: Arial;
background: linear-gradient(135deg,#141e30,#243b55);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

.container{
background:#1e1e1e;
padding:30px;
border-radius:10px;
width:400px;
text-align:center;
}

h1{
margin-bottom:20px;
}

textarea{
width:100%;
height:80px;
margin:10px 0;
padding:10px;
border-radius:5px;
border:none;
font-size:14px;
}

select{
width:100%;
padding:10px;
margin-bottom:10px;
border-radius:5px;
border:none;
}

.buttons button{
padding:10px 15px;
margin:5px;
border:none;
border-radius:5px;
cursor:pointer;
background:#00c6ff;
color:white;
font-weight:bold;
}

.buttons button:hover{
background:#0072ff;
}